html{
  text-align: center;
  font-size: 16px;
  --firstcolor: #3d0814;
  --secoundcolor: #fed766;
  --thirdcolor: #dadad9;
  --fourthcolor: #2e294e;
  --fivthcolor: #738290;
}

.content{
  background-color: var(--firstcolor);
  display: flex;
  flex-direction: column;
  font-family: 'Lato' ,sans-serif;
}
h1{
  color: var(--fivthcolor);
  font-size: 5rem;
  text-decoration: underline;
}
h2{
  color: var(--thirdcolor);
  font-size: 2rem;
}
p{
  color: var(--thirdcolor);
  font-size: 1.5rem;
}
.container{
  display: flex;
  width:99%;
  justify-content: center;
}
.button{
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--thirdcolor);
  background-color: var(--fourthcolor);
  flex-grow: 1;
  flex-shrink: 1;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom:20px;
  border: 3px solid ;
  border-radius: 10px;
  transition: all 1s linear;
}
.button:hover{
  background-color:var(--thirdcolor);
  color:var(--fourthcolor);
}
@media all and (orientation: protriat){
  button{
    font-size: 2.5rem;

  }
}
