html{
  font-size: 16px;
  background-color: var(--thirdcolor);
  margin: 0px;
  --firstcolor: #3d0814;
  --secoundcolor: #fed766;
  --thirdcolor: #dadad9;
  --fourthcolor: #2e294e;
  --fivthcolor: #738290;
  font-family: 'Lato', sans-serif;
}
header{
  background-color: var(--fourthcolor);
  color: var(--thirdcolor);
}
.container-head{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}
nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container{
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  background-color: ;
  text-align: right;
}
.nav{
  padding: 5px;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 5px;
  display: block;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 0.5s linear;
  background-color:;
  color: var(--thirdcolor);
  font-size: 1.5rem;
}
.nav:hover{
  color:var(--fivthcolor);
}

header p{
  font-size: 1.5rem;
}
.headline{
  display: inline-block;
  display: block;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  position: relative;
  text-align: left;
}
/* The side navigation menu */



main{
  background-color: var(--thirdcolor);
}
p{
  text-align: center;
  font-size: 1.2rem
}
#allgemein{
  padding-top: 10px;
  color: var(--fourthcolor);
  display:flex;
  flex-direction: row;
}
.platzhalter{
  flex-basis:180px;
  flex-grow: 1;
  flex-shrink: 2;
}
.flooting-text{
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis:180px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.flooting-text p{
  text-align:left;
}
h2{
  text-align: center;
  font-size: 2rem;
}
h3{

  text-align: center;
  font-size: 1.75rem;
}
h4{
  font-size: 1.5rem;
}
#projekte{
  padding-top: 10px;
}
.projekt-container{
  background-color: var(--firstcolor);
  color: var(--thirdcolor);
  display: flex;
  flex-direction: column;
}
.text-container{
  display:inline-flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-around;
}
.flex-item{
  display: inline;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 180px;
  text-align: left;
  padding: 15px;
  margin:5px;
  background-color: var(--fourthcolor);
  color: var(--thirdcolor);
  border: 3px solid var(--thirdcolor) ;
  border-radius: 10px;
  text-decoration: none;
  transition: color 0.5s linear;
}
.flex-item p{
  text-align: left;
}
.flex-item:hover{
  color: var(--fivthcolor);
  border-color: var(--fivthcolor);
}
footer{
  position: relative;
  top: 200px;
  text-align: center;
  padding: 20px;
  background-color: var(--fourthcolor);
  color: var(--thirdcolor);
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menubutton{
  display: none;
  width:100px;
  height: 100px;
  background-color: var(--thirdcolor);
  position: absolute;
  margin-right: 9px;
  margin-top: 1px;
  right:0;
  z-index: 10;
}
.menubutton span{
  margin-top: 13px;
  margin-left: 10px;
  border-radius: 10px;
  display: none;
  width:80px;
  height: 13px;
  background-color: var(--fourthcolor);
  z-index: 10;
  transition: transform 0.1s linear,
              opacity 0.05s linear;
}
.menubutton.menu--open .span1{
  transform: translateY(28px) rotate(-45deg);

}
.menubutton.menu--open .span2{
  opacity: 0;
}
.menubutton.menu--open .span3{
  transform: translateY(-24px) rotate(45deg);
}

@media only screen and (orientation: portrait){
  .text-container{
    flex-direction: column;
  }
  p{
      font-size: 1.5rem;
    }
  .container-head{
      flex-direction: column;
    }
  .platzhalter{
     display: none;
  }
}
@media all and (orientation: portrait){
  .menubutton{
    display: block;
  }
  .menubutton span{
    display: block;
  }
  .nav-container{
    display: none;
  }
}
.navtoggled{
  display: block !important;
  width: 100px;
  height:210px;
  background-color: var(--firstcolor);
  position: absolute;
  right:0;
  top:127px;
  margin-right: 10px;
  border-radius: 5px;
}
.navtoggled .nav{
  display: block;
  width: 80px;
  height: 50px;
  padding-top: 19px;
  padding-bottom: 19px;
  border: 1px solid var(--thirdcolor);
  border-radius: 5px;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 1rem;
  margin-bottom: 0;
  margin-right: 0;
}
